form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    > .form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.3rem;
        margin: 0 1rem;
        > input {
            height: 1rem;
            &.failed {
                border-color: red;
            }
        }
    }
    > .error {
        color: red;
        margin: auto;
        margin-top: 1.5rem;
        font-weight: bold;
        border-color: red;
    }
    button {
        margin-top: 2rem;
        margin-left: auto;
    }
}
