@import "../../variables.scss";
.usercard {
    display: grid;
    grid-template-areas:
        "img name"
        "img rank"
        "img points";
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    background-color: var(--gray-light);
    padding: 1rem;
    width: 500px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 4px 5px var(--gray-dark);

    @media screen and (max-width: 600px) {
        width: 80%;
    }

    > * {
        margin: 0;
    }

    img {
        grid-area: img;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 1rem 0 0;
        object-fit: cover;
        box-shadow: 0px 0px 5px black;
    }
    h1 {
        grid-area: name;
        // font-size: 1.2rem;
        // font-weight: bold;
        // margin: 0 auto;
    }
    p.rank {
        grid-area: rank;
        // font-size: 1.2rem;
        // font-weight: bold;
        // margin: 0 auto;
    }
    p.points {
        grid-area: points;
        // font-size: 1.2rem;
        // font-weight: bold;
        // margin: 0 auto;
    }
}
